ENVIRONMENT=development
PROJECT_NAME=khalas-api
API_V1_PREFIX=/api/v1
FRONTEND_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/khalas?retryWrites=true&w=majority&appName=Khalas
MONGODB_DB_NAME=khalas

